html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.tasks {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-danger {
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
}

.login-form {
  margin-top: 20px;
}

footer {
  width: 100%;
}

.container-custom {
  padding-left: 60px;
  padding-right: 60px;
}
